/* Colors
* light grey: #F1F3F5
* yellow: #FFC555
* green: #003C1C
* light blue: #1292EE
* dark blue: #002651
* https://style.helpscout.com
*/

/* General styles */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Gill Sans, Lucida, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    color: #002651;
}

.index-image img {
    width: 100%;
}

.image-details {
    background-color: #F1F3F5;
}

/* grid */
.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

/* items */
.container>* {
    color: #1292EE;
    padding: 20px;
    background: #F1F3F5;
}

/* navigation styles */
.container nav {
    display: inline-block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li a:hover {
    color: #002651;
}

nav a {
    color: #003C1C;
}

nav a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* media query for grid layout */
@media only screen and (max-width: 480px) {

    #nav {
        transition: transform .3s ease-in-out;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        /* override Safari bug */
        position: fixed;
        /* or choose `absolute` depending on desired behavior*/
        width: 300px;
        left: -340px;
    }

    #nav:target {
        transform: translateX(340px);
    }

    .close {
        text-align: right;
        display: block;
        text-decoration: none;
        font-size: 3em;
        position: relative;
        top: -30px;
    }

}

@media only screen and (min-width: 481px) {

    /* main.main-content grid */
    .main-content {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .index-image {
        grid-column: 1 / span 10;
        grid-row: 1 / span 6;

    }

    .image-details {
        grid-column: 4 / span 7;
        grid-row: 2 / span 3;

    }

    /* div.container grid */
    .container {
        grid-template-columns: repeat(12, 1fr);
    }

    header {
        grid-column: 2 / span 10;
    }

    nav {
        grid-column: 2 / span 6;
    }

    .list-group {
        grid-column: 9 / 12;
        justify-self: end;
    }

    main {
        grid-column: 2 / span 10;
    }

    footer {
        grid-column: 2 / span 10;
    }

    /* navigation styles */
    nav ul li {
        display: inline-block;
        padding: 0 20px 0 0;
    }

    /* hide toggle */
    .toggle {
        display: none;
    }

}

@media only screen and (min-width: 1024px) {}