/* --- colors */
/* light grey: #F1F3F5
* yellow: #FFC555
* green: #003C1C
* light blue: #1292EE
* dark blue: #002651
* https://style.helpscout.com
*/

/* --- default CSS layout for narrow screens */
/* --- general styles */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Gill Sans, Lucida, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    color: #002651;
}

.index-image img {
    width: 100%;
}

.image-details {
    background-color: #F1F3F5;
}

/* --- grid layouts */
.site-header {
    display: grid;
    grid-template-columns: 1fr;
}

.project-card {
    display: grid;
}

.site-footer {
    display: grid;
    grid-template-columns: 1fr;
}

/* --- navigation */
nav {
    display: inline-block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li a:hover {
    color: #1292EE;
}

a {
    text-decoration: none;
}

@media (min-width: 480px) {

    /* --- css for medium width screens */
    /* --- project cards */
    .project-container {}

    .project-card {
        margin: 100px 200px;
        display: grid;
        align-items: center;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas:
            "img text";
        grid-gap: 140px;
    }

    .project-card img {
        width: 100%;
    }

    .project-text h2 {
        font-size: 46px;
    }

    .project-text p {
        font-size: 20px;
    }

    .project-card:nth-child(even)
    .project-text {
        grid-column: 2;
    }

    .project-card:nth-child(even) img {
        grid-column: 1;
        grid-row: 1;
    }

    .project-card:nth-child(even) {
        grid-template-columns: 1fr 1.5fr;
    }

    /* --- header.site-header grid layout */
    .site-header {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .site-title {
        grid-column: 3 / span 8;
        grid-rows: 1 / 1;
        justify-self: start;
    }

    .site-tagline{
        grid-column: 3 / span 6;
        grid-rows: 2 / 2;
        justify-self: start;
    }
    nav {
        grid-column: 3 / span 6;
        grid-rows: 3 / 3;
        justify-self: start;
    }

    .list-group {
        grid-column: 9 / 11;
        grid-rows: 2 / 2;
        justify-self: end;
    }

    /* --- footer.site-footer grid layout */
    .site-footer {
        grid-template-columns: repeat(12, 1fr);
    }

    .site-footer h6 {
        grid-column: 3 / span 8;
        grid-rows: 1 / 1;
        justify-self: center;
    }

    /* --- navigation */
    nav ul li {
        display: inline-block;
        padding: 0 10px 0 0;
    }

}

@media (min-width: 800px) {
    /* --- css for wide screens */
}

@media (min-width: 1100px) {
    /* --- css for really wide screens */
}