/* Colors
* light grey: #F1F3F5
* yellow: #FFC555
* green: #003C1C
* light blue: #1292EE
* dark blue: #002651
* https://style.helpscout.com
*/

/* General styles */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Gill Sans, Lucida, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    color: #002651;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    background-color: yellowgreen;
}

/* Navigation */
.main-nav ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
}

a {
    text-decoration: none;
}

li a:hover {
    color: #1292EE;
}

/* Main section */
.site-content img {
    max-width: 1024px;
}

/* CSS grid layout */
.site-header {
    grid-area: header;
}

.site-description {
    grid-area: description;
}

.site-content {
    grid-area: content;
}

.main-nav {
    grid-area: nav;
}

.sidebar {
    grid-area: sidebar;
}

.site-footer {
    grid-area: footer;
}

.site-wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "nav"
        "description"
        "content"
        "footer";
}

@media (min-width: 480px) and (max-width: 1023px) {
    .site-wrapper {
        border: 5px solid darkgreen;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header header"
            "nav nav"
            "description description"
            "content content"
            "footer footer";
    }

    nav ul {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .site-wrapper {
        border: 5px solid darkblue;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "header header header"
            "description description description"
            "content content content"
            "content content content"
            "footer footer footer"
    }
}